<tr>
  <td style="text-align:center">
    <br />
    <% if user.first_name == nil %>
      <em>
        <small>
          no name data
        </small>
      </em>
    <% else %>
      <%= user.try(:first_name) %>
    <% end %>
  </td>
  <td style="text-align:center">
    <br />
    <% if user.last_name == nil %>
      <em>
        <small>
          no name data
        </small>
      </em>
    <% else %>
      <%= user.try(:last_name) %>
    <% end %>
  </td>
  <td style="text-align:center">
    <br />
    <%= user.username %>
  </td>
  <td>
    <small>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    </small>
  </td>
</tr>