<%#= render partial: "forshow" %>

profile image - username
<br>
<br>
first_name last_name
<br>
<br>
<table>
  <tr>
    <th>
      Platforms Owned
    </th>
    <th>
      Games Owned
    </th>
  </tr>
  <tr>
    <td>
      platform
    </td>
    <td>
      game
    </td>
  </tr>
</table>
<br>
<br>
<%= link_to "Back", :back %> <%= link_to "Edit your profile", edit_user_registration_path, class: "edit_profile" %>