<nav>
  <ul>
    <li>
      <%= link_to "Tournament Users", tournament_users_path %>
    </li>
  </ul>
</nav>


<%= link_to "Create a Tournament", new_tournament_path %>


<%= render @tournaments %>

