<nav>
  <ul>
    <li>
      <%= link_to "Event Tournaments", event_tournaments_path %>
    </li>
    <li>
      <%= link_to "Event Users", event_users_path %>
    </li>
  </ul>
</nav>

<%= link_to "Create a Event", new_event_path %>


<%= render @events %>

